.vs/
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/appsettings.Development.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/appsettings.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/bin/Debug/appsettings.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/bin/Debug/appsettings.Development.json