.vs/
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/appsettings.Development.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/appsettings.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/bin/Debug/net8.0/appsettings.json
PharmacyJobPlatform.Web/PharmacyJobPlatform.Web/bin/Debug/net8.0/appsettings.Development.json
appsettings.json
appsettings.Development.json