<div id="chat-widget">

    <button id="chat-toggle" class="btn btn-primary chat-toggle"><i class="bi bi-chat-dots"></i></button>

    <div id="chatPanel" class="chat-panel card shadow d-none">

        <div class="card-header d-flex justify-content-between">
            <strong>Mesajlar</strong>
            <button id="chat-close" class="btn-close"></button>
        </div>

        <div id="chat-messages" class="p-2"></div>

    </div>
</div>
